<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: head"></div>
</head>

<body>

<header th:replace="fragments :: header"></header>
<main>
    <p>Welcome, <span th:text="${user.username}"></span></p>

            <li class="nav-link"><a th:href="@{/users/view/{id}(id=${user.id})}">User Profile</a></li>

</main>
</body>
</html>



























































<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head"></head>-->
<!--<body class="container">-->

<!--<h1>SkillShare</h1>-->

<!--<header th:replace="fragments :: header"></header>-->

<!--</body>-->
<!--</html>-->




















