<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<header th:replace="fragments :: header"></header>

<body class="container">

    <form method="post">
        <label>First Name
            <input type="text" th:field="${userProfile.firstName}" />
        </label>
        <p class="errors" th:errors="${userProfile.firstName}"></p>
        <label>Last Name
            <input type="text" th:field="${userProfile.lastName}" />
        </label>
        <p class="errors" th:errors="${userProfile.lastName}"></p>
        <label>E-mail
            <input type="text" th:field="${userProfile.email}" />
        </label>
        <p class="errors" th:errors="${userProfile.email}"></p>
        <label>Phone Number
            <input type="text" th:field="${userProfile.phoneNumber}" />
        </label>
        <p class="errors" th:errors="${userProfile.phoneNumber}"></p>
        <label>Zip Code
            <input type="text" th:field="${userProfile.zipCode}" />
        </label>
        <p class="errors" th:errors="${userProfile.zipCode}"></p>
        <label>Username
            <input type="text" th:field="${registerFormDTO.username}" />
        </label>
        <p class="errors" th:errors="${registerFormDTO.username}"></p>
        <label>Password
            <input type="password" th:field="${registerFormDTO.password}" />
        </label>
        <p class="errors" th:errors="${registerFormDTO.password}"></p>
        <label>Verify Password
            <input type="password" th:field="${registerFormDTO.verifyPassword}" />
        </label>
        <p class="errors" th:errors="${registerFormDTO.verifyPassword}"></p>
        <input type="submit" value="REGISTER" class="submit">
    </form>
    <p>Already have An account? <a href="/login">Log In here.</a></p>

</main>
</body>
</html>






















































<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="https://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head"></head>-->

<!--<header th:replace="fragments :: header"></header>-->
<!--<body class="container body-content">-->
<!--<main>-->

<!--    <h1>Create New User</h1>-->
<!--    <form method="post">-->
<!--        <div class="form-group">-->
<!--        <label>First Name-->
<!--            <input class="form-control" th:field="${userProfile.firstName}" />-->
<!--        </label>-->
<!--        <p class="error" th:errors="${userProfile.firstName}"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>last Name-->
<!--                <input class="form-control" th:field="${userProfile.lastName}" />-->
<!--            </label>-->
<!--            <p class="error" th:errors="${userProfile.lastName}"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>E-mail-->
<!--                <input class="form-control" th:field="${userProfile.email}" />-->
<!--            </label>-->
<!--            <p class="error" th:errors="${userProfile.email}"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Phone Number-->
<!--                <input class="form-control" th:field="${userProfile.phoneNumber}" type = "phoneNumber" />-->
<!--            </label>-->
<!--            <p class="error" th:errors="${userProfile.phoneNumber}"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Zip Code-->
<!--                <input class="form-control" th:field="${userProfile.zipCode}"  type="zipCode"/>-->
<!--            </label>-->
<!--            <p class="error" th:errors="${userProfile.zipCode}"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Username-->
<!--                <input class="form-control" th:field="${registerFormDTO.username}" />-->
<!--            </label>-->
<!--            <p class="error" th:errors="${registerFormDTO.username}"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Password-->
<!--                <input class="form-control" th:field="${registerFormDTO.password}" type="password" />-->
<!--            </label>-->
<!--            <p class="error" th:errors="${registerFormDTO.password}"></p>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label>Verify Password-->
<!--                <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" />-->
<!--            </label>-->
<!--        </div>-->
<!--        <input type="submit" class="btn btn-primary" value="Register" />-->
<!--    </form>-->
<!--    <p>Already have An account? <a href="/login">Log In here.</a></p>-->
<!--</main>-->
<!--</body>-->
<!--</html>-->


































